*{
	padding: 0px; margin :0px; list-style: none;
	text-decoration: none;
	color: #262626;
}
header{
	background-color:#ffff;
	height: 70px;
	display: flex;
	border-bottom: 1px solid #dbdbdb;
	position: fixed;
	top: 0;
	width: 100%;
}
body{
	background-color: #fafafafa;

}
.container{
	display: flex;
}

.logo_section{display: flex;    margin: 10px 0px 10px 200px;}
.logo_section img{
	width: 120px
}
.search_section{
	    display: flex;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    margin: 15px 0px 10px 140px;
    width: 280px;
    height: 35px;
    border-radius: 4px;
}
.search_section .wrapper{
	display: flex; padding: 10px
}
.search_section img {
	margin: auto;
    height: 15px;
    width: 15px;
    padding: auto;
}
.search_section input {
	background-color: #fafafafa;
    border: none;
    outline: none;
    width: 250px;
    padding: 5px;

}
.navigation_section {
	display: flex; margin-left: 130px
}
.wrapper{
	display: flex;
}
.wrapper ul{
	display: flex;
}
.wrapper ul li {
	display: flex;
}

.wrapper ul li a{
	display: flex; margin: 15px
}
.home_img{
	width: 30px;
	height: 30px;
	object-fit: contain;
}
.message_img{
	width: 30px;
	height: 30px;
	margin: auto;
	object-fit: contain;	
}
.add_photo_img{
	width: 24px;
	height: 24px;
	margin: auto;
	object-fit: contain;
}
.compass_img{
	width: 28px;
	height: 28px;
	margin: auto;
	object-fit: contain;
}
.heart_img{
	width: 28px;
	height: 28px;
	margin: auto;
	object-fit: contain;

	
}

.avatar_image_img{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	margin: auto;
	object-fit: cover;
}

main{
	display: flex;
	height: 2000px


}
figure{
	width: 450px;
	border:1px solid #DBDBDB;
	  display: flex;
    margin: 100px 0px 0px 250px;
    height: 110px;
}

figure ul{
	display: flex;
	margin: 10px;
}
figure ul li{
	margin: 5px;
}
figure a{
}

figure img{
	width: 60px;
	height: 60px;
	object-fit: cover;
	border-radius: 50%;
	border:2px solid red;
}
.left_aside{
	display: flex;
	flex-direction: column;



}

.left_aside .container.first{
	margin-top: 80px;
}

.left_aside .container{
	display: flex;
	flex-direction: column;
	margin: 40px 0px 0px 250px;
	border:1px solid #DBDBDB;
	width: 450px;
	background-color: #ffff;
}
.wrapper_top{
	display: flex;
}
.profile_img_a{
	margin: 15px 0px 15px 15px;
	display: flex;
}

.profile_img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	object-fit: cover;
}
.profile_desc{
	margin: 15px 0px 0px 10px;
	padding: 5px;


}


.ellipsis_img_a	{
	 margin: 15px 0px 0px 200px;
     padding: 5px;
     display: flex;}
.ellipsis_img{
	width: 25px; height: 25px;
	object-fit: contain;
	overflow: hidden;
}

.wrapper_center img{
	object-fit: cover;
	width: 450px;
}
.wrapper_bottom{
	display: flex;


}
.reaction_wrapper{
	padding: 10px;
}
.reaction_wrapper a{
	margin-left: 5px
}

.reaction_wrapper img{
	width: 30px;
	height: 30px;
	object-fit: contain;
	
}

.reaction_wrapper a:last-child{
	margin-left: 260px;
}

.last_container{
	margin: 15px;
	display: flex;
}
.last_container_a{
	margin-top: 50px;
}
.last_container img{
	width: 25px;height:25px;
}

.last_container .input_section{
	margin-left: 5px;
}
.last_container .input_section input{
		width: 340px;
	height: 30px;
	border:none;
	outline: none;
}

.last_container .button_section{
	margin-left: 5px;
}

.last_container .button_section button{
	border: none;
	height: 35px;
	width: 40px;
	background-color: #ffff;
	color:#b7e1fd;
	font-size: large;
}
.right_aside{display: flex;
	position: fixed;left: 700px;
	flex-direction: column;
}
.right_aside .container{
	margin:120px 0px 0px 100px;
	display: flex;
}
.profile_block{
	display: flex;
}
.profile_block img{
	width: 60px;height: 60px;
	border-radius: 50%;
	object-fit: cover;
}


.profile_block_desc{
	margin: 5px 0px 0px 10px;
}
.profile_block_desc h5{
	margin-top: 5px;
}

.switch{
	margin: 15px 0px 0px 125px;
}

.switch span{
	color: blue;
}
.suggestions{
	margin: 20px 0px 20px 120px;
	display: flex;
}

.suggestions a{
	margin-left: 140px;
}

.botttom_container{
	margin:0px 0px 0px 100px;
	display: flex;
}


.profile_follow_block{
	display: flex;
}

.profile_follow_block img{
	width: 35px; height: 35px;
	border-radius: 50%;
	object-fit: cover;
}

.follow_block_desc{
	margin: 0px  0px 0px 12px;
}

.follow_block_desc h6{
	margin-top: 2px;
}

.follow{
	margin: 15px 0px 0px 155px;
	
}


.follow span{
	color: blue;

}

.botttom_container.second{
	margin-top: 10px;
}

@media only screen and (max-width: 1300px) {



.container{
	margin-left: -50px;
}

}

@media only screen and (max-width: 1250px){

.container{
	margin-left: -100px;
}

}

@media only screen and (max-width: 1250px){
	.container{
	margin-left: -150px;
}

}


@media only screen and (max-width: 1250px){

	figure{
		margin-left: 200px
	}


.left_aside .container{
	margin: 40px 0px 0px 200px;
}


.right_aside{display: flex;
	position: fixed;left: 600px;
}


}


@media only screen and (max-width: 1160px){


.navigation_section {
	 margin-left: 100px
}

}



@media only screen and (max-width: 1130px){

	.search_section{
	
    margin: 15px 0px 10px 100px;

}
}


@media only screen and (max-width: 1130px){



.navigation_section {
	 margin-left: 50px;

}

figure{
		margin-left: 150px
	}


.left_aside .container{
	margin: 40px 0px 0px 150px;
}

.right_aside{display: flex;
	position: fixed;left: 550px;
}


}

@media only screen and (max-width: 1060px){

	.container{
	margin-left: -185px;
}

	figure{
		margin-left: 100px
	}


.left_aside .container{
	margin: 40px 0px 0px 100px;
}

.right_aside{display: flex;
	position: fixed;left: 500px;
}

}


@media only screen and (max-width: 1000px){

.navigation_section {
	 margin-left: 20px;

}

	figure{
		margin-left: 80px
	}


.left_aside .container{
	margin: 40px 0px 0px 80px;
}

.right_aside{display: flex;
	position: fixed;left: 470px;
}

}


@media only screen and (max-width: 1000px){

	.search_section{
	
    margin: 15px 0px 10px 50px;

}

}


@media only screen and (max-width: 970px){
	.search_section{
	
    margin: 15px 0px 10px 50px;
     width: 30vw;


}

	.search_section input {
		width: 20vw;

	}
	   
    	figure{
		margin-left: 50px
	}


.left_aside .container{
	margin: 40px 0px 0px 50px;
}

.right_aside{display: flex;
	left: 450px;
}



}

@media only screen and (max-width: 940px){


.right_aside{display:none;
}

    	figure{
		margin-left: 250px
	}


.left_aside .container{
	margin: 40px 0px 0px 250px;
}

.navigation_section{
	width: 30vw;
}


.wrapper ul li a{
	 margin-left:5px
}
}


@media only screen and (max-width: 940px){

	figure{
		margin-left: 200px
	}


.left_aside .container{
	margin: 40px 0px 0px 200px;
}
}


@media only screen and (max-width: 820px){

	.wrapper ul li a{
	 margin-left:0px
}


}

@media only screen and (max-width: 768px){

	.search_section input {
		width: 10vw;

	}

	.search_section{
	
    margin: 15px 0px 10px 0px;
     width: 20vw;


}

	figure{
		margin-left: 150px
	}


.left_aside .container{
	margin: 40px 0px 0px 150px;
}


}


@media only screen and (max-width: 760px){

	.search_section input {
		width: 10vw;

	}

	.search_section{
	
    margin: 15px 0px 10px 10px;
     width: 20vw;


}

	figure{
		margin-left:110px
	}


.left_aside .container{
	margin: 40px 0px 0px 110px;
}


}


@media only screen and (max-width: 630px){
.search_section{
	
display: none;

}
.navigation_section {
	 margin-left: 100px;

}


}



@media only screen and (max-width: 600px){

figure{
		margin-left:20px
	}


.left_aside .container{
	margin: 40px 0px 0px 20px;
}

}


@media only screen and (max-width: 540px){
	.navigation_section {
	 margin-left: 30px;

}

figure{
		margin-left:10px
	}


.left_aside .container{
	margin: 40px 0px 0px 10px;
}





}